footer {
    background-color: #8f2a2a;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-sol,
  .footer-orta,
  .footer-sag {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  .footer-orta  {
    width: 50%;
  }
  
  .footer-orta ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-orta ul li {
    margin: 8px 0;
  }
  
  .footer-orta a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-orta a:hover {
    color: #fff;
  }
  
  .contact-button {
    background-color: #131f2c;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  
  .contact-button:hover {
    background-color: #242a33;
  }
  